.Grid {
	@extend %grid;

	max-width: 1600px;
	margin: auto;

	&-row {
		@include row((sm: 2, md: 3, lg: 4));

		background: rgba(red, .1);
	}

	&-cell {
		margin-bottom: $gutter;
		padding: $unit/2;
		border: 4px solid #212121;
		background: rgba(red, .1);

		@include breakpoint-only(sm) {
			background: rgba(blue, .1);
		}

		@include breakpoint-up(lg) {
			padding: 1em;
		}

		&.is-full {
			@include column((sm: 2, md: 1, lg: 2));
			@include offset((md: 1, xl: 0));

			@include breakpoint-between(sm, md) {
				background: rgba(green, .1);
			}
		}
	}
}
