@import '../assets/styles/globox/globox';

.markdown-section pre {
    background-color: #f2f2f2;
    & > code {
        background-color: inherit;
    }
}

.markdown-section {
    ul { list-style: disc; }
    ol { list-style: decimal; }
}

.Cell {
    text-align: center;
    font-size: 1rem;
    padding: $unit/2 0;
    color: #fff;
}

.Sample1 {
    @include set-gutter($unit);
    background: rgba(#1375a6, .2);

    &-row {
        @include row((sm: 2, md: 3, lg: 4));
    }

    &-cell {
        background: rgba(#1375a6, .4);
        &:before {
            content: 'Cell';
        }
    }
}

.Sample2 {
    @include set-gutter($unit);
    background: rgba(#1375a6, .2);

    &-row {
        @include row((sm: 2, md: 3, lg: 4));
    }

    &-cell {
        border: 4px solid #1375a6;
        background: rgba(#1375a6, .4);
        &:before {
            content: 'Cell';
        }
        &.modifiers {
            @include column((sm: 2, md: 1, lg: 2));
            @include offset((md: 1, xl: 0));
        }
    }
}

.Sample3 {
    @include set-gutter($unit);

    &-row {
        @include row((sm: 2, md: 3, lg: 4));
        background: rgba(#1375a6, .2);
    }

    &-cell {
        background: rgba(#1375a6, .4);
        &.Cell:before {
            content: '1';
        }
        &.isLarge {
            @include column((sm: 2, md: 3, lg: 1));
        }
    }

}

.Sample3Child {
    @include column((md: 2));

    &-row {
        @include row((md: 2));
    }

    &-cell {
        background: rgba(#1375a6, .6);
        &.Cell:before {
            content: '2';
        }
    }
}

.Sample3Grandchild {
    @include set-gutter($unit/2);
    
    &-row {
        @include row((md: 3));
    }

    &-cell {
        background: #1375a6;
        font-size: 0.75rem;
        &.Cell:before {
            content: '3';
        }
    }
}