/**
 * Base
 * Reset and typography
 * ------------------------------
 * Dependencies:
 * - $font-size-base
 * - $unit
 */


* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    line-height: $unit*2;
    font-size: $font-size-base;
}

// p, ul, ol, dd {
// 	margin-bottom: $base;
// }
