/**
 * Fonts & icons
 * ------------------------------
 * Dependencies:
 * - $font-size-base
 * - $fonts-path
 * - $fonts
 */


// HELPERS
// ------------------------------
// Helper to convert PX to REM
@function rem($pixels) {
    @return $pixels / $font-size-base * 1rem;
}


// DECLARATIONS
// ------------------------------
@each $font in $fonts {
    @font-face {
        font-family: nth($font, 1);
        src: url('#{$fonts-path}#{nth($font, 2)}.eot');
        src: url('#{$fonts-path}#{nth($font, 2)}.eot?#iefix') format('embedded-opentype'),
            url('#{$fonts-path}#{nth($font, 2)}.woff') format('woff'),
            url('#{$fonts-path}#{nth($font, 2)}.ttf') format('truetype'),
            url('#{$fonts-path}#{nth($font, 2)}.svg##{nth($font, 2)}') format('svg');
        font-weight: nth($font, 3);
        font-style: nth($font, 4);
    }
}

.icomoon, [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
