/**
 * Globbox variables
 */


// BASE
// ------------------------------
// Document base font size in px: better not change it
$font-size-base: 16px !default;

// General unit accross the website
$unit: 1.5rem !default;



// FONTS & ICONS
// ------------------------------
// fonts path, relative to the compiled css file
$fonts-path: '../fonts/' !default;

// fonts list
// NOTE order: font-family, filename (without extension), font-weight, font-style
$fonts: (
    ("icomoon", "icomoon", normal, normal),
) !default;



// BREAKPOINTS
// ------------------------------
$breakpoints: (
    xs: 0,
    sm: 420px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
) !default;



// GRID
// ------------------------------
$gutter: $unit !default;
